<footer>
  <section id="join-us">
  </section>
    <ul>
        <li><a href="null">Our Mission</a></li>
        <li><a href="null">Get Involved</a></li>
        <li><a href="null">About</a></li>
        <li><a href="null">News</a></li>
        <li><a href="null">Donate</a></li>
        <li><a href="null">Sign in</a></li>
    </ul> 

    <p>
      <span>Phone</span><br><a href="tel:">(304) 535-6331</a><br>
      <span>Email</span><br><a href="mailto:info@appalachiantrail.org">info@appalachiantrail.org</a><br>
      <span>Address</span><br><a href="tel:">799 Washington St Harpers Ferry, WV 25425, USA</a><br>
    </p>    

    <div class="socialmedia">
      <a href="https://www.facebook.com/ATHike"><i class="icon-facebook-circled"></i></a>
      <a href="https://twitter.com/at_conservancy"><i class="icon-twitter-circled"></i></a>
      <a href="https://vimeo.com/tag:appalachian+trail"><i class="icon-vimeo-circled"></i></a>
    </div>

    <ul class="legal-links">
      <li><a href="null">Privacy Policy</a></li>
      <li><a href="null">Terms of Use</a></li>
    </ul> 

</footer>
<!-- <div class="wrapper">
  <div class="icons">
    <i class="icon-phone-icon"></i> 
    <span class="names">Phone</span>
  </div>   
  <div class="icons" a href="facebook.com">
    <a href="http://www.facebook.com"></a>
    <i class="icon-facebook"></i> 
    <span class="names">Facebook</span>
  </div>
  <div class="icons">
    <a href="http://www.twitter.com"></a>
    <i class="icon-twitter"></i> 
    <span class="names">Twitter</span>
  </div>
  <div class="icons">
    <a href="http://www.vimeo.com"></a>
    <i class="icon-vimeo"></i> 
    <span class="names">Vimeo</span>
  </div> 
  <div class="icons">
    <a href="http://www.behance.com"></a>
    <i class="icon-behance"></i> 
    <span class="names">Behance</span>
  </div>
  <div class="icons">
    <a href="http://www.linkedin.com"></a>
    <i class="icon-linkedin"></i> 
    <span class="names">Linked In</span>
  </div>
  <div class="icons">
    <a href="http://www.pinterest.com"></a>
    <i class="icon-pinterest"></i> 
    <span class="names">Pinterest</span>
    test
  </div>   
</div> -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
  var mapCanvas = document.getElementById('map-canvas');
  var mapOptions = {
    center: new google.maps.LatLng(44.8788784, -70.5554832),
    zoom: 8,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }

  var map = new google.maps.Map(mapCanvas, mapOptions);

  var myLatlng = new google.maps.LatLng(44.8788784,-70.5554832);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: 'Hello World!'
  });

  map.set('styles', [
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#aee2e0"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#abce83"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#769E72"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#7B8758"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#EBF4A4"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "simplified"
            },
            {
                "color": "#8dab68"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#5B5B3F"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ABCE83"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#A4C67D"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#9BBF72"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#EBF4A4"
            }
        ]
    },
    {
        "featureType": "transit",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#87ae79"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#7f2200"
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "visibility": "on"
            },
            {
                "weight": 4.1
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#495421"
            }
        ]
    },
    {
        "featureType": "administrative.neighborhood",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    }
]);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>