<div class="drop-nav">
      <input type="checkbox" id="mobile-nav">
          <div id="navigation-link">
      <label for="mobile-nav" style="display: block; width: 100%;" class="mobile-nav-toggle">Menu<span></span></label>
  </div>
      <nav id="nav-open">
        <ul>
          {% for page in site.pages %}
            {% if page.title %}
              <li class="nav-item">
                <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
                  {{ page.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
  </div>

<header>
  <div class="logo-container"> 
      <img src="/images/atc-logo.svg" alt="Appalachian Trail"></img>
  </div>  
  
  <h1>
      APPALACHIAN TRAIL
      <span>CONSERVANCY</span>
  </h1>
</header>