---
layout: page
---
<div class="hero">
  <h1></h1>
</div>
<section id="about">
  <h2>The trail</h2>

  <p>The Appalachian Trail is one of the longest continuously marked footpaths in the world, 
  measuring roughly 2,180 miles in length. The Trail goes through fourteen states along the 
  crests and valleys of the Appalachian mountain range from the southern terminus at Springer 
  Mountain, Georgia, to the Trail’s northern terminus at Katahdin, Maine.</p>

  <img src="" alt="">
  <img src="" alt="">

  <p>Maintain and monitor the Trail corridor, making sure the land surrounding the footpath is protected</p>

  <p>Maintain and monitor the Trail corridor, making sure the land surrounding the footpath is protected</p>
</section>

<div class="hero"></div>

<section>
  <h2>History</h2>
  <p>The notion of a “super trail” had been a parlor topic in New England hiking-organization 
  and even academic circles for some time, but the October 1921 publication of “An Appalachian 
  Trail: A Project in Regional Planning” in the Journal of the American Institute of Architects 
  is almost universally seen as the moment of birth for the Appalachian Trail. Benton MacKaye—former 
  forester and government analyst and newspaper editor, now intermittently employed as a regional 
  planner—proposed, as a refuge from work life in industrialized metropolis, a series of work, study, 
  and farming camps along the ridges of the Appalachian Mountains, with a trail connecting them, from 
  the highest point in the North (Mt. Washington in New Hampshire) to the highest in the South (Mt. Mitchell in North Carolina). 
  Hiking was an incidental focus. MacKaye immediately set about promoting his idea within his network 
  of friends and colleagues in Washington, New York, and Boston, but it was again hikers who took up 
  the cause—newspaper columnist Raymond Torrey in New York especially, who led a small crew building 
  the rst A.T.-specic miles in Harriman–Bear Mountain State Park under the aegis of Maj. William A. Welch, 
  who soon shifted the goal to “Maine to Georgia” and designed the iconic diamond Trail marker.</p>
  <div id="map-canvas"></div>
</section>