---
layout: page
---
<div class="hero"></div>

<section id="volunteer">

  <div class="stat">
    <div class="number">6,800</div>
    <div class="title">Volunteers</div>
  </div>

  <div class="stat">
    <div class="number">220,000</div>
    <div class="title">Hours</div>
  </div>

  <div class="stat">
    <div class="number">15 Years</div>
    <div class="title">To build a lifetime to maintain</div>
  </div>

  <h2>Volunteer</h2>
  <p>Over 6000 volunteers contribute more than 200,000 hours each year keeping the 
  Appalachian Trail (A.T.) available for all to use. Volunteers are active in all 
  aspects of Trail work, from basic maintenance to major projects such as building 
  bridges and shelters and building new sections of the A.T.</p>

  <p>Though Trail maintainers are perhaps the most visible, volunteers also 
  participate in many other activities, from outreach to Trail management.</p>

  <img src="" alt="">
  <img src="" alt="">

  <h2>Appalachian Trail Community</h2>

  <p>The Appalachian Trail CommunityTM program is designed to recognize communities 
  that promote and protect the Appalachian Trail (A.T.). Towns, counties, and communities 
  along the A.T.’s corridor are considered assets by all that use the A.T. and many of 
  these towns act as good friends and neighbors to the Trail. The program serves to assist 
  communities with sustainable economic development through tourism and outdoor recreation, 
  while preserving and protecting the A.T.</p>

  <button class="volunteer">Volunteer Today</button>

  <i class="large-icon icon-tools"></i>

  <p>Maintain and monitor the Trail corridor, making sure the land surrounding the footpath is protected</p>

  <i class="large-icon icon-heart"></i>

  <p>Provide support to towns near the Trail participating in the Appalachian Trail Communities program</p>

  <i class="large-icon icon-users"></i>

  <p>Are active partners in the management of the A.T., participating in local, regional and Trail-wide management efforts</p>

</section>

<div id="join-us-hero" class="hero">
  <h2>Join Us In<br><span> protecting the trail</h2>
</div>

<section id="donate">
   <div class="stat">
    <div class="number">$40</div>
    <div class="title">Can help protect 1 mile of the A.T. for 12 days</div>
  </div>

   <div class="stat">
    <div class="number">100%</div>
    <div class="title">Of donations go directly into the protection of the A.T.</div>
  </div>

  <p>The Appalachian Trail Conservancy (ATC) relies on the generosity of donors like you to 
  help fulll our mission and vision. Everyday we must raise $3.28 for every mile of the Trail 
  above and beyond public funds we receive. Once you complete the online donation form below, 
  you will receive:</p>

  <ul>
    <li>Oversized Appalachian Trail strip map (with new membership)</li>
    <li>Four issues of A.T. Journeys Magazine: the award-winning publication of the A.T.</li>
    <li>Discounts at the Ultimate and other select retailers</li>
    <li>Subscription to our monthly e-newsletter lled with the latest A.T. news and updates</li>
    <li>Volunteer opportunities, invitations to special events, and much more!</li>
  </ul>

  <p>Best of all, experience the pride and satisfaction of knowing you are protecting an irreplaceable American treasure – the Appalachian Trail.</p>

  <form class="light">

    <h3>Contact Information</h3>
    <input type="text" name="amount" class="group-break" placeholder="amount">
    <input type="text" name="first_name" placeholder="first name">
    <input type="text" name="last_name" placeholder="last name">
    <input type="text" name="address" placeholder="address">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="zip_code" placeholder="zip code">
    <input type="text" name="email" class="group-break" placeholder="email address">
    <input type="text" name="phone" placeholder="phone number">
    <input type="text" name="credit_card_num" placeholder="card number">
    <input type="text" name="expiration" placeholder="expiration mm/yy">
    <input type="text" name="cvv" placeholder="cvv">

    <input type="submit" class="button" value="Submit">
  </form>
</section>